<h1>Listing films</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Origin name</th>
    <th>Slogan</th>
    <th>Country</th>
    <th>Director</th>
    <th>Length</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @films.each do |film| %>
  <tr>
    <td><%= film.name %></td>
    <td><%= film.origin_name %></td>
    <td><%= film.slogan %></td>
    <td><%= film.country_id %></td>
    <td><%= film.director %></td>
    <td><%= film.length %></td>
    <td><%= link_to 'Show', film %></td>
    <td><%= link_to 'Edit', edit_film_path(film) %></td>
    <td><%= link_to 'Destroy', film, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Film', new_film_path %>
