!!!
%html
  %head
    %title Видеокаталог
    = stylesheet_link_tag 'reset', 'main', '2col', 'style', 'mystyle'
    /[if lte IE 6]
      =stylesheet_link_tag 'main-ie6'
    =javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #main
      = render 'layouts/tray'
      %hr.noscreen
      = render 'layouts/menu'
      %hr.noscreen
      #cols.box
        = render 'layouts/aside'
        %hr.noscreen
        #content.box
          -unless notice.blank?
            .msg.done=notice
          -unless flash[:error].blank?
            .msg.error=flash[:error]
          = yield
      %hr.noscreen
      = render 'layouts/footer'
